<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>ServletTestSpring</servlet-name>
        <servlet-class>sawbona.code.test.spring.ServletTestSpring</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proxy</servlet-name>
        <servlet-class>sawbona.code.proxy.servlet.ProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTestSpring</servlet-name>
        <url-pattern>/ServletTestSpring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proxy</servlet-name>
        <url-pattern>/Proxy</url-pattern>
    </servlet-mapping>
    </web-app>
